.loadmap {
  position: relative;
  text-align: center;
}

.loadmap__image {
  width: 100%;
  max-width: 1100px;
}

.loadmap__building {
  position: absolute;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  padding: 7px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.loadmap__building:hover {
  transform: scale(1.5);
}
